Handling Missing Double Quotes in Grammar Rule

I'm encountering a problem with the grammar rule for parsing the `SENT-BY` parameter in compliance with [RFC5545 section 3.8.4.1](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.4.1) last example. The rule is defined as follows:

```g4
sentbyparam
   : k_sent_by ASSIGN DQUOTE cal_address DQUOTE
   ;
```
The issue arises when double quotes are missing from the `SENT-BY` parameter in an input, as shown in the last example from the [section 3.8.4.1](https://datatracker.ietf.org/doc/html/rfc5545#section-3.8.4.1) of the RFC:

```ics
ATTENDEE;SENT-BY=mailto:jan_doe@example.com;CN=John Smith:
 mailto:jsmith@example.com
 ```
The example does not include double quotes around the email address, leading my parser to incorrectly identify `SENT-BY=mailto:jan_doe@example.com` as `other_param`. While the RFC specifies that double quotes should be present, the given example lacks them (which I believe is a mistake?).

Changing the rule to this makes it work properly:

```g4
k_sent_by ASSIGN DQUOTE? cal_address DQUOTE?
```
it solves the parsing issue, but it does not adhere to the RFC's [requirement](https://datatracker.ietf.org/doc/html/rfc5545#section-3.2.18:~:text=The%20individual%20calendar%20address%20parameter%20values%20MUST%0A%20%20%20%20%20%20each%20be%20specified%20in%20a%20quoted%2Dstring.) for double quotes.
 
Below is the full rule for context:

 ```g4
 // 3.8.4.1 - Attendee
attendee
   : k_attendee attparam* COL cal_address CRLF
   ;

attparam
   : SCOL cutypeparam
   | SCOL memberparam
   | SCOL roleparam
   | SCOL partstatparam
   | SCOL rsvpparam
   | SCOL deltoparam
   | SCOL delfromparam
   | SCOL sentbyparam
   | SCOL cnparam
   | SCOL dirparam
   | SCOL languageparam
   | SCOL other_param
   ;
```

So my question is how can I possibly throw an error if the double quotes are missing after a `SENT-BY` is matched? This is a possible issue for other params as well

Also note the change to the `uri` rule: you might want to include that too in your grammar (or your copy of the grammar).